.date-picker {
	margin-top: 14px;
	padding: 2; 
}

.left-margin {
		margin-left: 32px;
	}

@media screen and (min-width: 1280px) {
	.left-margin-gt-md {
		margin-left: 32px;
	}

	.short-input-gt-md {
		max-width: 180px;
	}
}
